/* stilyng notes to developer */
.accordion, button, button:hover {
    color: white;
}

button {
    font-weight: bold;
}

.card, .list-group-item, .list-group {
    background: rgb(3, 115, 153);
}

/* styling form */
*, *:before, *:after{ 
    box-sizing: border-box; 
} 
.css-shapes-preview{ 
    position: relative; 
    height: 100%; 
    /* width: 600px;  */
    padding: 3px; 
    background-color: rgb(136, 196, 248); 
    border-radius: 65px; 
    top: -10px; 
    left: 14px; 
    transform: rotate(0deg) skew(-10deg); 
    -webkit-transform: rotate(0deg) skew(-10deg); 
    border-top: 0px solid transparent; 
    border-left: 152px transparent; 
    border-right: 138px transparent; 
    border-bottom: 196px transparent; 
}

/* styling img */
#slide {
    position: absolute;
    left: -1000px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 1s;
    animation: slide 3s forwards;
    height: 600px;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

/* styling footer */
