<div class="container px-3 py-3">
    <div class="row">
        <div class="col-sm-4">
            <img id="slide" src="assets/tutor_completo.png"/>           
        </div>
<!-- 
    /$$                     /$$          
    | $$                    |__/          
    | $$  /$$$$$$   /$$$$$$  /$$ /$$$$$$$ 
    | $$ /$$__  $$ /$$__  $$| $$| $$__  $$
    | $$| $$  \ $$| $$  \ $$| $$| $$  \ $$
    | $$| $$  | $$| $$  | $$| $$| $$  | $$
    | $$|  $$$$$$/|  $$$$$$$| $$| $$  | $$
    |__/ \______/  \____  $$|__/|__/  |__/
                   /$$  \ $$              
                  |  $$$$$$/              
                   \______/               
-->
        <div class="col-sm-8 css-shapes-preview">
            <form [formGroup]="formLogin" (ngSubmit)="onLogin(formLogin)" class="px-3 py-3 mx-3 my-3">
                Audio
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="checkboxEstado"
                    formControlName="audio" checked (click)="changeTextAudio()">
                    <label class="custom-control-label" for="checkboxEstado">
                        <div *ngIf="stateAudio">
                            SI
                        </div>
                        <div *ngIf="!stateAudio">
                            NO
                        </div>
                    </label>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        ¡Bienvenido hoy serás un estudiante virtual!
                    </div>
                    <label for="nombre" class="label-control">nombre:</label>
                    <input type="text" formControlName="nombre" class="form-control"
                    [ngClass]="formLogin.get('nombre').touched && formLogin.get('nombre').invalid ? 'is-invalid' : ''">
                  <div *ngIf="formLogin.get('nombre').touched && formLogin.get('nombre').invalid" class="invalid-feedback">
                    <div *ngIf="formLogin.get('nombre').errors.required">Por favor ingrese su nombre.</div>
                  </div>
                </div>
                <div class="form-group">
                    <label for="edad" class="label-control">edad:</label>
                    <input type="tel" formControlName="edad" class="form-control" maxlength="2"
                    [ngClass]="formLogin.get('edad').touched && formLogin.get('edad').invalid ? 'is-invalid' : ''">
                  <div *ngIf="formLogin.get('edad').touched && formLogin.get('edad').invalid" class="invalid-feedback">
                    <div *ngIf="formLogin.get('edad').errors.required">Por favor ingrese su edad.</div>
                    <div *ngIf="formLogin.get('edad').errors.pattern">Por favor ingrese una edad valida.</div>
                  </div>
                </div>
                <div class="form-group">
                    <label for="email" class="label-control">E-mail:</label>
                    <input type="email" formControlName="email" class="form-control"
                    [ngClass]="formLogin.get('email').touched && formLogin.get('email').invalid ? 'is-invalid' : ''">
                    <div *ngIf="formLogin.get('email').touched && formLogin.get('email').invalid" class="invalid-feedback">
                        <div *ngIf="formLogin.get('email').errors.required">Por favor ingrese un E-mmail.</div>
                        <div *ngIf="formLogin.get('email').errors.pattern">El E-mail debe ser un E-mail válido.</div>
                    </div>
                </div>
                <div class="text-center">
                    Estas cursando:<br>Técnica tecnologia profesional postgrado
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="exampleRadios1" value="niño"
                    formControlName="genero">
                    <label class="form-check-label" for="exampleRadios1">
                        Niño
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="exampleRadios2" value="niña"
                    formControlName="genero">
                    <label class="form-check-label" for="exampleRadios2">
                        Niña
                    </label>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                        <button class="btn btn-success" [disabled]="!formLogin.valid">submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <div class="row">
                <div class="col align-self-start">
                    <h1>1 de 5</h1>
                </div>
                <div class="col align-self-end">
                    <a [routerLink]="secondView" style="font-size: 40px"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!--     
                       /$$                                /$$$$$$                                /$$                               /$$                                        
                      | $$                               /$$__  $$                              | $$                              | $$                                        
 /$$$$$$$   /$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$$      | $$  \__//$$$$$$   /$$$$$$         /$$$$$$$  /$$$$$$  /$$    /$$ /$$$$$$ | $$  /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$ 
| $$__  $$ /$$__  $$|_  $$_/   /$$__  $$ /$$_____/      | $$$$   /$$__  $$ /$$__  $$       /$$__  $$ /$$__  $$|  $$  /$$//$$__  $$| $$ /$$__  $$ /$$__  $$ /$$__  $$ /$$__  $$
| $$  \ $$| $$  \ $$  | $$    | $$$$$$$$|  $$$$$$       | $$_/  | $$  \ $$| $$  \__/      | $$  | $$| $$$$$$$$ \  $$/$$/| $$$$$$$$| $$| $$  \ $$| $$  \ $$| $$$$$$$$| $$  \__/
| $$  | $$| $$  | $$  | $$ /$$| $$_____/ \____  $$      | $$    | $$  | $$| $$            | $$  | $$| $$_____/  \  $$$/ | $$_____/| $$| $$  | $$| $$  | $$| $$_____/| $$      
| $$  | $$|  $$$$$$/  |  $$$$/|  $$$$$$$ /$$$$$$$/      | $$    |  $$$$$$/| $$            |  $$$$$$$|  $$$$$$$   \  $/  |  $$$$$$$| $$|  $$$$$$/| $$$$$$$/|  $$$$$$$| $$      
|__/  |__/ \______/    \___/   \_______/|_______/       |__/     \______/ |__/             \_______/ \_______/    \_/    \_______/|__/ \______/ | $$____/  \_______/|__/      
                                                                                                                                                | $$                          
                                                                                                                                                | $$                          
                                                                                                                                                |__/                          
-->
    <div class="row d-flex justify-content-end pt-3">
        <div class="col-sm-9">
            <div class="accordion bg-info" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Nota para el desarrollador:
                            </button>
                        </h2>
                    </div>
                
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-start align-items-center"
                                *ngFor="let note of notes; index as i">
                                    <span class="badge badge-primary badge-pill mr-2">{{i}}</span>    
                                    {{note}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>