<div class="bg">
    <!-- <app-first-view></app-first-view> -->
    <router-outlet></router-outlet>
</div>
<a href="https://www.freepik.es/fotos-vectores-gratis/fondo">Vector de Fondo creado por pikisuperstar - www.freepik.es</a>